<%- include("templates/header", {webTittle: 'Página de inicio'}) %> 
<div>
    <h1 class="d-flex justify-content-center">Bienvenido a STACK OVER LITTLE</h1>
    <h2 class="d-flex justify-content-center">Éste es un pequeño proyecto </h2>
</div>
<%- include("templates/footer")%> 